body {
  margin: 0;
  padding: 0;
}

.head {
  background-color: black;
  padding: 15px 15px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

img {
  margin-top: 10px;
  border-radius: 100%;
  border: 5px solid whitesmoke;
  width: 80px;
  height: 100px;
  box-shadow: 100px;
}
p,
.isi {
  display: inline-block;
  text-align: center;
}

article,
.conten1 {
  border: 1-x solid black;
}
article {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 900px;
  margin-left: 20%;
}
